<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkiGv2h1IOQCgr2R-S48Gb8jjbxg55v8w&libraries=places"
            async defer></script>
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>



    <script src="/js/eventsCtrl.js"></script>
    <script src="/js/mainCtrl.js"></script>
    <script src="/js/driverSocket.js"></script>

    <script src="js/map.js"></script>
    <link rel="stylesheet" href="/css/app.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bookings</title>

</head>
<body onload="initAutocomplete()">

<form name="myForm">

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="Main.html">New Booking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="MyProfile.html">My Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="MyBookings.html">My Bookings</a>
        </li>
    </ul>

    <div class="wrapper fadeInDown" ng-app="mainApp" ng-controller="mainCtrl">
        <div class="row">
            <div class="col-md-6">
                <label for="passengerNumber"><p>Passengers number</p></label>
                <input type="number" id="passengerNumber" placeholder="Insert passengers number..." type="text"
                       ng-change="updateCarTypeSelect()" ng-model="passengerNumber"/>
            </div>

            <div class="col-md-6">
                <label for="selectCard"><p>Select car</p></label>
                <select class="selectVehicle" id="selectCard" name="cars" type="text" ng-model="cars">
                    <option ng-repeat="x in carTypes track by $index" value="{{x.id_type}}"
                            ng-if="x.seats_number > passengerNumber">{{x.type}} - {{x.seats_number}} seats
                    </option>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <label for="autocompletePickUp"><p>Pick up</p></label>
                <input id="autocompletePickUp" placeholder="Insert pick-up address..." type="text"
                       ng-model="autocompletePickUp.text"/>
            </div>
            <div class="col-md-6">
                <label for="autocompleteDestination"><p>Destination</p></label>
                <input id="autocompleteDestination" placeholder="Insert destination..." type="text"
                       ng-model="autocompleteDestination.text"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="selectCard"><p>Select date-time</p></label>
                <input type="datetime-local" value="2017-06-01" ng-model="datetime">
            </div>

            <div class="col-md-6">
                <label for="selectCard"><p>Select payment</p></label>
                <div class="cars-container">
                    <div class="select-container">
                        <select class="selectCard" id="selectCard" name="selectCard" type="text" ng-model="selectCard">
                            <option value="clientCredit">Account</option>
                            <option value="braintree">BraintreeCC</option>
                            <option value="payPal">Paypal</option>
                            <option value="cash">Cash</option>
                            <option value="bankTransfer">Bank Transfer</option>
                            <option value="stripe">Stripe</option>
                            <option value="payHost">PayHost</option>
                            <option value="payTabs">PayTabs</option>

                        </select>
                    </div>
                    <div class="button-container">
                        <button id="buttonSend" class="button" type="button" ng-click="calculate()"
                                ng-disabled="!selectCard || !passengerNumber || !cars || !autocompletePickUp.text || !autocompleteDestination.text || !datetime">
                            Calculate
                        </button>
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
            <div class="col-md-6" id="latLNG">
            <p id="distance" ng-bind="distanceH"></p>
            <p id="duration" ng-bind="durationH"></p>
            <p id="price" ng-bind="priceH"></p>
            </div>
            </div>



        <div id="map"></div>



        <div class="row" id="latLNG">
            <div class="col-md-6">
                <p id="latPickUp" ng-model="latPickUp"></p>
                <p id="lngPickUp" ng-model="lngPickUp"></p>
            </div>
            <div class="col-md-6">
                <p id="latDestination" ng-model="latDestination"></p>
                <p id="lngDestination" ng-model="lngDestination"></p>
            </div>
        </div>

        <div class="containerMid">
            <button id="buttonSend" class="button" type="button" ng-click="insertBooking()"
                    ng-disabled="!distanceH || !selectCard || !passengerNumber || !cars || !autocompletePickUp.text || !autocompleteDestination.text">
                AddBooking
            </button>
        </div>
        <div ng-controller="driverCtrl"></div>

    </div>

</form>

</body>
</html>
